* {
    margin: 0px;
    padding: 0px;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
}

.clearfix:after {
    clear:both;
}

.clearfix {
     *zoom:1;
}   

/* header */
.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    margin-left: 60px;
    float: left;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: inline-block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
} 

.search {
    float: left;
    margin-left: 70px;
    width: 412px;
    height: 42px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    font-size: 14px;
    color: #bfbfbf;
    padding-left: 15px;
}

.search button {
    width: 50px;
    height: 42px;
    float: left;
    border: 0;
    background-image: url(images/search.png);
}

.user {
    float: right;
    margin-right: 30px;
    line-height: 42px;
    font-size: 14px;
    color:#6666;
}

/* banner  */
.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .w {
    height: 420px;
    background: url(images/banner.png) no-repeat scroll top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}

.subnav ul {
    margin: 10px 0;
}

.subnav ul li a {
    display: inline-block;
    padding: 0 20px;
    width: 150px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
}

.subnav ul li a span {
    float: right;
}

.subnav ul a:hover {
    color: #00a4ff;
    background-color: rgba(0,0,0,.3);
}

.course {
    float: right;
    margin-top: 50px;
    width: 230px;
    height: 300px;
    background-color: #fff;
}

.course h2 {
    width: 230px;
    height: 48px;
    background-color: #9bceea;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 48px;
}

.bd {
    padding: 0 20px;
}

.course ul li {
    padding: 13px 0;
    border-bottom: 1px solid #cccc;
}

.course ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.course ul li p {
    font-size: 12px;
    color: #9c9a9a;
}

.bd .all {
    display:block;
    height: 40px;
    color:#00a4ff;
    font-size: 16px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 40px;
    margin-top: 5px;
}

/* 精品推荐 */
.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 3px rgba(0,0,0,.1);
    line-height: 60px;
}

.goods h4 {
    float: left;
    color: #00a4ff;
    font-size: 16px;
    margin-left: 40px;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding : 0 30px;
    border-left: 1px solid #ccc;
    color: #050505;
    font-size: 16px;
}
.goods .mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

/* 精品大模块 */
.box {
    margin-top: 35px;
}

.box-hd, .box2 .top {
    height: 45px;
}

.box-hd h4, .box2 h4{
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a, .box2 .all{
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 5px;
    margin-right: 30px;
}

.box-bd ul {
    width: 1215px;
}

.box-bd ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box-bd ul li a img {
    width: 100%;
}

.box-bd ul li h4 {
    width: 185px;
    margin:20px 20px 20px 25px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.box-bd ul li em {
    position: absolute;
    top: 4px;
    right: -4px;
}

.box-bd .info {
    margin:0 20px 0 25px;
    font-size: 12px;
    color: #999999;
}

.box-bd .info span {
    color: #ff7c2d;
}

.box-bd li:hover{
    box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.1)
}

/* footer  */
.footer {
    margin-top: 30px;
    height: 300px;
    background-color: #fff;
}

.footer .w {
    padding-top: 30px;
}

.footer .copyright {
    float: left;
    padding-left: 20px;
}

.copyright p {
    font-size: 12px;
    color: #6666;
    padding: 20px 0 15px 0;
}

.copyright .app {
    display: block;
    width: 120px;
    height: 40px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 40px;
}

.footer .links {
    float: right;
}

.links dl {
    float: left;
    margin: 0 50px;
}

.links dl dt {
    font-size: 16px;
    color:#333;
    padding-bottom: 5px;
}

.links dl dd a {
    font-size: 12px;
    color: #333;
}

.box2 {
    margin-top: 15px;
}

.top ul{
    float: left;
    margin-left: 360px;
}
    
.top ul li {
    float: left;
    padding-right: 50px; 
}

.top ul li a {
    font-size: 16px;
    color: #868686;
}

.top ul li a:hover {
    color:#00a4ff;
}

.bottom .left {
    float: left;
    width: 230px;
    height: 385px;
}

.bottom .left img {
    width: 100%;
    height: 100%;
}

.bottom .right {
    float: left;
    width: 970px;
    height: 385px;
}

.right .up {
    width: 955px;
    height: 100px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.right .up img {
    width: 100%;
    height: 100%;
}

.right .down {
    width: 972px;
    height: 270px;
}

.right .down ul {
    padding: 0;
}
.right .down ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-left: 15px;
}

.down ul li img {
    width: 100%;
}

.down ul li h4 {
    width: 185px;
    height: 35px;
    margin:20px 20px 20px 25px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.down .info {
    margin:0 20px 0 25px;
    font-size: 12px;
    color: #999999;
}

.down .info span {
    color: #ff7c2d;
}

.down li:hover{
    box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.1)
}
